In [2]:
from backend.database import Database
from backend.agents import RewriterAgent, GeneratorAgent, ValidatorAgent
import pandas as pd

In [3]:
database = Database()
rewriter = RewriterAgent()
generator = GeneratorAgent()
validator = ValidatorAgent()

In [6]:
eval_df = pd.read_csv(r'..\evaluation.csv')
eval_df.head()

                                            question difficulty
0             List all actors' first and last names.       Easy
1      Show the titles of all films in the database.       Easy
2                       Get the names of all cities.       Easy
3           List all categories available for films.       Easy
4  Show the first name and last name of all custo...       Easy