In [17]:
from backend.database import Database
from backend.agents import RewriterAgent, GeneratorAgent, ValidatorAgent
import pandas as pd
from time import sleep

In [18]:
database = Database()
rewriter = RewriterAgent()
generator = GeneratorAgent()
validator = ValidatorAgent()

In [33]:
eval_df = pd.read_csv(r'..\evaluation.csv')
eval_df.head()

                                            question difficulty
0             List all actors' first and last names.       Easy
1      Show the titles of all films in the database.       Easy
2                       Get the names of all cities.       Easy
3           List all categories available for films.       Easy
4  Show the first name and last name of all custo...       Easy

In [34]:
rewriter_responses = []
generator_responses = []
validator_responses = []

generated_queries = []
retrieved_datasets = []

In [35]:
for question in eval_df['question']:
    try:
        question = r'{}'.format(question)
        rewriter_response = rewriter.run({'question': question})
        sleep(2)
        generator_response = generator.run(rewriter_response)
        sleep(2)
        validator_response = validator.run(generator_response)
        sleep(2)
        
        print(str(validator_response) + f"\n {'-' * 30}")

        sql_query = validator_response['query']
        explanation = validator_response['explanation']
        if sql_query is not None:
            result_df = database.get_data(sql_query)
        else:
            result_df = None
        
        rewriter_responses.append(str(rewriter_response))
        generator_responses.append(str(generator_response))
        validator_responses.append(str(validator_response))
        
        generated_queries.append(sql_query)
        try: 
            retrieved_datasets.append(result_df.to_dict(orient='records'))  
        except Exception as e: 
            retrieved_datasets.append(str(e))  
            
    except Exception as e:
        print(str(e))
        generated_queries.append(str(e))
        rewriter_responses.append("")
        generator_responses.append("")
        validator_responses.append("")
        retrieved_datasets.append("")

{'question': 'Retrieve the first name and last name from the actor table for all actors.', 'query': 'SELECT first_name, last_name FROM actor;', 'explanation': "The generated SQL query is correct. It selects the first_name and last_name columns from the actor table, which directly addresses the user's request to retrieve the first and last names of all actors. The query is syntactically valid and logically sound. There are no apparent performance concerns."}
 ------------------------------
{'question': 'Retrieve the title from the film table for all films.', 'query': 'SELECT title FROM film;', 'explanation': "The query is syntactically correct and logically sound. It selects the 'title' column from the 'film' table, which directly answers the user's question. There are no apparent performance issues or edge cases to consider. The query will return all film titles present in the film table."}
 ------------------------------
{'question': "Retrieve the names from the 'city' column of the 'city' table.", 'query': 'SELECT city FROM city;', 'explanation': "The query is syntactically correct and logically sound. It directly selects the 'city' column from the 'city' table, which aligns perfectly with the user's request. There are no apparent performance concerns or edge cases that would cause this query to fail."}
 ------------------------------
{'question': 'Show the name of each category from the category table.', 'query': 'SELECT name FROM category;', 'explanation': "The query is syntactically correct and logically sound. It directly selects the 'name' column from the 'category' table, which is exactly what the user requested. There are no performance concerns or edge cases to consider in this simple query."}
 ------------------------------
{'question': 'Retrieve the first_name and last_name from the customer table for all customers.', 'query': 'SELECT first_name, last_name FROM customer;', 'explanation': "The query is syntactically correct and logically sound. It directly addresses the user's question by selecting the 'first_name' and 'last_name' columns from the 'customer' table. There are no apparent performance issues or edge cases to consider. The query will return the first and last names of all customers in the table."}
 ------------------------------
{'question': 'Show the film title for all films where the release_year is 2006 from the film table.', 'query': 'SELECT title FROM film WHERE release_year = 2006;', 'explanation': "The generated query is correct. It selects the 'title' column from the 'film' table and filters the results to include only films where the 'release_year' is equal to 2006. The query is syntactically valid and directly addresses the user's request. There are no apparent performance concerns."}
 ------------------------------
{'question': "Find the first name and last name of all actors from the actor table where the last_name is 'Smith'.", 'query': "SELECT first_name, last_name FROM actor WHERE last_name = 'Smith';", 'explanation': "The generated query is correct and efficient. It directly selects the requested columns (first_name, last_name) from the 'actor' table and filters the results based on the condition last_name = 'Smith'. There are no syntax errors, logical flaws, or performance concerns. The query aligns perfectly with the user's question."}
 ------------------------------
{'question': "Retrieve the first name, last name, email, and address of all customers from the customer table, where the address_id in the customer table matches the address_id in the address table, and the city_id in the address table matches the city_id in the city table, and the city in the city table is 'New York'.", 'query': "SELECT\n  c.first_name,\n  c.last_name,\n  c.email,\n  a.address\nFROM customer AS c\nJOIN address AS a\n  ON c.address_id = a.address_id\nJOIN city AS ci\n  ON a.city_id = ci.city_id\nWHERE\n  ci.city = 'New York';", 'explanation': "The generated SQL query is correct and aligns with the user's question. It joins the `customer`, `address`, and `city` tables on the appropriate foreign key relationships (`address_id` and `city_id`) and filters the results to only include customers whose address is in 'New York'. The query selects the requested columns: `first_name`, `last_name`, `email` from the `customer` table and `address` from the `address` table. There are no apparent syntax errors or logical flaws."}
 ------------------------------
{'question': "Find the store IDs from the store table where the address ID matches an address ID in the address table, and the city ID in the address table matches a city ID in the city table, and the country ID in the city table matches the country ID in the country table where the country name is 'India'.", 'query': "SELECT DISTINCT\n  s.store_id\nFROM store AS s\nJOIN address AS a\n  ON s.address_id = a.address_id\nJOIN city AS ci\n  ON a.city_id = ci.city_id\nJOIN country AS co\n  ON ci.country_id = co.country_id\nWHERE\n  co.country = 'India';", 'explanation': "The generated SQL query is correct and aligns with the user's question. It joins the `store`, `address`, `city`, and `country` tables based on the appropriate foreign key relationships to filter the store IDs where the country is 'India'. The use of `DISTINCT` ensures that only unique store IDs are returned. The query is also efficient and does not contain any unnecessary subqueries or operations."}
 ------------------------------
{'question': 'Retrieve the film_id, title, description, release_year, language_id, original_language_id, rental_duration, rental_rate, length, replacement_cost, rating, last_update, and special_features for all films from the film table where the rental_rate is greater than 2.99.', 'query': 'SELECT film_id, title, description, release_year, language_id, original_language_id, rental_duration, rental_rate, length, replacement_cost, rating, last_update, special_features FROM film WHERE rental_rate > 2.99;', 'explanation': "The generated SQL query is correct and aligns with the user's question. It selects the requested columns from the 'film' table and filters the results based on the condition that the 'rental_rate' is greater than 2.99. The query is syntactically valid and logically sound. There are no apparent performance concerns or edge cases that would cause the query to fail."}
 ------------------------------
{'question': 'What is the count of films for each category name in the film_category table joined with the category table on category_id and the film table on film_id?', 'query': 'SELECT c.name, count(f.film_id) AS film_count\nFROM film_category AS fc\nJOIN category AS c ON fc.category_id = c.category_id\nJOIN film AS f ON fc.film_id = f.film_id\nGROUP BY c.name;', 'explanation': "The generated SQL query is correct and aligns with the user's question. It joins the `film_category`, `category`, and `film` tables on the appropriate keys (`category_id` and `film_id`). It then groups the results by category name (`c.name`) and counts the number of films in each category using `count(f.film_id)`. The alias `film_count` is used for the count, as requested. The query is syntactically valid and logically sound."}
 ------------------------------
{'question': 'What is the count of distinct actor_id from the actor table?', 'query': 'SELECT count(DISTINCT actor_id) FROM actor;', 'explanation': "The query is syntactically correct and logically sound. It directly addresses the user's question by counting the distinct actor IDs in the actor table. The use of COUNT(DISTINCT actor_id) ensures that each unique actor ID is counted only once, providing the correct result. There are no apparent performance concerns or edge cases that would cause this query to fail."}
 ------------------------------
{'question': 'What is the sum of the amount from the payment table where the payment date is in June 2022?', 'query': "SELECT sum(amount) FROM payment WHERE payment_date >= '2022-06-01' AND payment_date < '2022-07-01';", 'explanation': "The generated query is correct and efficient. It accurately calculates the sum of the 'amount' column from the 'payment' table for payments made in June 2022. The WHERE clause effectively filters the data by specifying a date range that includes all of June 2022. The query also takes advantage of table partitioning on the payment table. The query will automatically only look at the relevant partition(s) for June 2022, which will improve performance."}
 ------------------------------
{'question': 'What is the count of distinct rental_id values from the rental table where the rental_date is within the last month, calculated from the current date?', 'query': "SELECT count(DISTINCT rental_id) FROM rental WHERE rental_date >= NOW() - INTERVAL '1 month';", 'explanation': "The generated query is correct and efficient. It accurately counts the distinct rental IDs from the `rental` table where the `rental_date` falls within the last month from the current date. The use of `NOW() - INTERVAL '1 month'` is the standard way to represent the date one month ago in PostgreSQL. There are no apparent syntax errors, logical flaws, or performance bottlenecks."}
 ------------------------------
{'question': "How many films are there where the rating in the film table is 'PG-13'?", 'query': "SELECT COUNT(*) FROM film WHERE rating = 'PG-13';", 'explanation': "The query is syntactically correct and logically sound. It directly addresses the user's question by counting the films with a 'PG-13' rating in the film table. The query is efficient and doesn't require any modifications. The rating column is of type mpaa_rating which is an ENUM type, so comparing it with the string 'PG-13' is valid."}
 ------------------------------
{'question': 'Show the film title from the film table and the corresponding category name from the category table, joining them using the film_category table on film_id and category_id.', 'query': 'SELECT f.title, c.name AS category_name\nFROM film f\nJOIN film_category fc ON f.film_id = fc.film_id\nJOIN category c ON fc.category_id = c.category_id;', 'explanation': 'The generated SQL query is correct and efficient. It accurately joins the `film`, `film_category`, and `category` tables to retrieve the film title and its corresponding category name, as requested by the user. The joins are performed on the correct columns (`film_id` and `category_id`), and the column aliases improve readability. There are no apparent syntax errors or logical flaws.'}
 ------------------------------
{'question': "Retrieve the first name and last name of all actors who have appeared in the film with the title 'Inception'.", 'query': "SELECT\n  a.first_name,\n  a.last_name\nFROM actor AS a\nJOIN film_actor AS fa\n  ON a.actor_id = fa.actor_id\nJOIN film AS f\n  ON fa.film_id = f.film_id\nWHERE\n  f.title = 'Inception';", 'explanation': "The generated SQL query is correct and efficient. It joins the `actor`, `film_actor`, and `film` tables on their respective keys (`actor_id`, `film_id`) to find the actors who acted in the film titled 'Inception'. The `WHERE` clause filters the results to only include the film with the specified title. The query selects the `first_name` and `last_name` columns from the `actor` table, providing the desired output. There are no apparent syntax errors, logical flaws, or performance bottlenecks."}
 ------------------------------
{'question': 'Provide a query.', 'query': None, 'explanation': 'The user provided no specific question. Therefore, I cannot provide a query. Please provide a specific request.'}
 ------------------------------
{'question': "List the first name and last name of each staff member from the 'staff' table, along with the store ID from the 'staff' table that they are associated with.", 'query': 'SELECT first_name, last_name, store_id FROM staff;', 'explanation': "The generated SQL query is correct. It selects the first_name, last_name, and store_id columns from the staff table, which directly answers the user's question. The query is syntactically valid and logically sound. There are no apparent performance concerns or edge cases that would cause this query to fail."}
 ------------------------------
{'question': "What are the titles of all films that have been rented by the customer whose first name is 'John' and last name is 'Doe'? Return the film title from the film table.", 'query': "SELECT\n  f.title\nFROM film AS f\nJOIN inventory AS i\n  ON f.film_id = i.film_id\nJOIN rental AS r\n  ON i.inventory_id = r.inventory_id\nJOIN customer AS c\n  ON r.customer_id = c.customer_id\nWHERE\n  c.first_name = 'John' AND c.last_name = 'Doe';", 'explanation': "The generated SQL query is correct and effectively addresses the user's question. It joins the `film`, `inventory`, `rental`, and `customer` tables to retrieve the titles of films rented by customers named 'John Doe'. The joins are based on the appropriate foreign key relationships, and the `WHERE` clause accurately filters the results based on the customer's first and last names. The query is also syntactically correct for PostgreSQL."}
 ------------------------------
{'question': 'What are the titles of the 5 films with the highest number of rentals, based on the count of their film_id in the rental table?', 'query': 'SELECT f.title, COUNT(r.rental_id) AS rental_count\nFROM film f\nJOIN inventory i ON f.film_id = i.film_id\nJOIN rental r ON i.inventory_id = r.inventory_id\nGROUP BY f.title\nORDER BY rental_count DESC\nLIMIT 5;', 'explanation': "The generated SQL query is correct and efficient. It accurately addresses the user's question by joining the `film`, `inventory`, and `rental` tables to count the number of rentals for each film. The query groups the results by film title, orders them by the rental count in descending order, and limits the output to the top 5 films, as requested. There are no apparent syntax errors, logical flaws, or performance bottlenecks. The table joins are appropriate, and the column references are valid."}
 ------------------------------
{'question': "Find the customer IDs of all customers who have at least one rental from the store with store_id 1 and at least one rental from the store with store_id 2. Display the customer's first name and last name from the customer table.", 'query': 'SELECT DISTINCT c.first_name, c.last_name\nFROM customer c\nWHERE c.customer_id IN (\n    SELECT r.customer_id\n    FROM rental r\n    JOIN inventory i ON r.inventory_id = i.inventory_id\n    WHERE i.store_id = 1\n    INTERSECT\n    SELECT r.customer_id\n    FROM rental r\n    JOIN inventory i ON r.inventory_id = i.inventory_id\n    WHERE i.store_id = 2\n);', 'explanation': "The generated SQL query is correct and efficiently addresses the user's question. It uses the INTERSECT operator, which is the most appropriate way to find the common customer IDs between the two stores. The joins are also correct, linking rentals to inventory and then filtering by store ID. The DISTINCT keyword ensures that each customer is only listed once, even if they have multiple rentals from both stores. The query is also readable and well-structured."}
 ------------------------------
{'question': 'Find the first name and last name of all actors from the actor table who have appeared in more than 10 films, by counting the number of films they are associated with in the film_actor table.', 'query': 'SELECT a.first_name, a.last_name\nFROM actor a\nJOIN (SELECT actor_id, COUNT(film_id) AS film_count\n      FROM film_actor\n      GROUP BY actor_id\n      HAVING COUNT(film_id) > 10) AS film_counts\nON a.actor_id = film_counts.actor_id;', 'explanation': "The generated SQL query is correct and efficient. It accurately addresses the user's question by using a subquery to identify actors who have appeared in more than 10 films and then joining this result with the actor table to retrieve their first and last names. The use of a JOIN operation is appropriate for combining data from the two tables based on the actor_id. The query is also syntactically correct for PostgreSQL."}
 ------------------------------
{'question': 'List the first name, last name, and customer_id of customers from the customer table who have a count of payment_id greater than 5 in the payment table.', 'query': 'SELECT c.first_name, c.last_name, c.customer_id\nFROM customer c\nJOIN (\n    SELECT customer_id, COUNT(payment_id) AS payment_count\n    FROM payment\n    GROUP BY customer_id\n    HAVING COUNT(payment_id) > 5\n) AS payment_summary ON c.customer_id = payment_summary.customer_id;', 'explanation': "The generated query is correct and efficient. It accurately addresses the user's question by joining the `customer` table with a subquery that aggregates payment counts for each customer. The `HAVING` clause in the subquery correctly filters for customers with more than 5 payments. The join condition `c.customer_id = payment_summary.customer_id` ensures that only customers present in both tables are included in the final result. There are no apparent syntax errors, logical flaws, or performance bottlenecks."}
 ------------------------------
{'question': "Retrieve the film titles from the film table where the film is in both the 'Action' category and the 'Comedy' category, using the film_category and category tables to link films to their categories.", 'query': "SELECT f.title\nFROM film f\nJOIN film_category fc ON f.film_id = fc.film_id\nJOIN category c ON fc.category_id = c.category_id\nWHERE c.name IN ('Action', 'Comedy')\nGROUP BY f.film_id, f.title\nHAVING COUNT(DISTINCT c.name) = 2;", 'explanation': "The generated SQL query is correct and efficient. It accurately retrieves the film titles that belong to both the 'Action' and 'Comedy' categories. The query joins the `film`, `film_category`, and `category` tables to establish the relationship between films and their categories. The `WHERE` clause filters the results to include only films that are associated with either the 'Action' or 'Comedy' categories. The `GROUP BY` clause groups the results by film ID and title to prepare for the `HAVING` clause. The `HAVING` clause filters the grouped results, ensuring that only films that appear in both the 'Action' and 'Comedy' categories are included in the final output. The `COUNT(DISTINCT c.name) = 2` condition in the `HAVING` clause verifies that each film is associated with two distinct category names ('Action' and 'Comedy')."}
 ------------------------------
{'question': 'Show all rows from the rental table where the rental_date is within the last 7 days from the current date.', 'query': "SELECT * FROM rental AS r WHERE r.rental_date >= NOW() - INTERVAL '7 days';", 'explanation': "The generated query is correct and efficient. It selects all rows from the `rental` table where the `rental_date` is within the last 7 days. The `NOW() - INTERVAL '7 days'` expression accurately calculates the date 7 days ago. There are no apparent syntax errors or logical flaws. The query should perform well, especially if there is an index on the `rental_date` column."}
 ------------------------------
{'question': 'Show all columns for each row in the table payment where the payment_date is in February 2022.', 'query': "SELECT * FROM payment WHERE payment_date >= '2022-02-01' AND payment_date < '2022-03-01';", 'explanation': "The generated query is correct and efficient. It selects all columns from the `payment` table and filters the rows to include only those where the `payment_date` falls within February 2022. The date range is specified using `payment_date >= '2022-02-01'` and `payment_date < '2022-03-01'`, which accurately captures all dates in February. Because the payment table is partitioned by payment_date, this query will only search the relevant partition(s)."}
 ------------------------------

In [37]:
eval_df['rewriter_responses'] = rewriter_responses 
eval_df['generator_responses'] = generator_responses 
eval_df['validator_responses'] = validator_responses 
eval_df['generated_queries'] = generated_queries 
eval_df['retrieved_datasets'] = retrieved_datasets
eval_df

,question,difficulty,rewriter_responses,generator_responses,validator_responses,generated_queries,retrieved_datasets
0,List all actors' first and last names.,Easy,"{'valid': '1', 'question': 'Retrieve the first...",{'question': 'Retrieve the first name and last...,{'question': 'Retrieve the first name and last...,"SELECT first_name, last_name FROM actor;","[{'first_name': 'PENELOPE', 'last_name': 'GUIN..."
1,Show the titles of all films in the database.,Easy,"{'valid': '1', 'question': 'Retrieve the title...",{'question': 'Retrieve the title from the film...,{'question': 'Retrieve the title from the film...,SELECT title FROM film;,"[{'title': 'ACADEMY DINOSAUR'}, {'title': 'ACE..."
2,Get the names of all cities.,Easy,"{'valid': '1', 'question': ""Retrieve the names...","{'question': ""Retrieve the names from the 'cit...","{'question': ""Retrieve the names from the 'cit...",SELECT city FROM city;,"[{'city': 'A Corua (La Corua)'}, {'city': 'Abh..."
3,List all categories available for films.,Easy,"{'valid': '1', 'question': 'Show the name of e...",{'question': 'Show the name of each category f...,{'question': 'Show the name of each category f...,SELECT name FROM category;,"[{'name': 'Action'}, {'name': 'Animation'}, {'..."
4,Show the first name and last name of all custo...,Easy,"{'valid': '1', 'question': 'Retrieve the first...",{'question': 'Retrieve the first_name and last...,{'question': 'Retrieve the first_name and last...,"SELECT first_name, last_name FROM customer;","[{'first_name': 'MARY', 'last_name': 'SMITH'},..."
5,Show all films released in 2006.,Easy,"{'valid': '1', 'question': 'Show the film titl...",{'question': 'Show the film title for all film...,{'question': 'Show the film title for all film...,SELECT title FROM film WHERE release_year = 2006;,"[{'title': 'DATE SPEED'}, {'title': 'AMELIE HE..."
6,"Find all actors with the last name ""Smith.""",Easy,"{'valid': '1', 'question': ""Find the first nam...","{'question': ""Find the first name and last nam...","{'question': ""Find the first name and last nam...","SELECT first_name, last_name FROM actor WHERE ...",[]
7,"List all customers who are from the city of ""N...",Easy,"{'valid': '1', 'question': ""Retrieve the first...","{'question': ""Retrieve the first name, last na...","{'question': ""Retrieve the first name, last na...","SELECT\n c.first_name,\n c.last_name,\n c.e...",[]
8,"Get all stores located in the country ""India.""",Easy,"{'valid': '1', 'question': ""Find the store IDs...","{'question': ""Find the store IDs from the stor...","{'question': ""Find the store IDs from the stor...",SELECT DISTINCT\n s.store_id\nFROM store AS s...,"[{'store_id': 13}, {'store_id': 18}, {'store_i..."
9,Show all films with a rental rate greater than...,Easy,"{'valid': '1', 'question': 'Retrieve the film_...","{'question': 'Retrieve the film_id, title, des...","{'question': 'Retrieve the film_id, title, des...","SELECT film_id, title, description, release_ye...","[{'film_id': 2, 'title': 'ACE GOLDFINGER', 'de..."
10,How many films are there in each category?,Medium,"{'valid': '1', 'question': 'What is the count ...",{'question': 'What is the count of films for e...,{'question': 'What is the count of films for e...,"SELECT c.name, count(f.film_id) AS film_count\...","[{'name': 'Sports', 'film_count': 145}, {'name..."
11,What is the total number of actors?,Medium,"{'valid': '1', 'question': 'What is the count ...",{'question': 'What is the count of distinct ac...,{'question': 'What is the count of distinct ac...,SELECT count(DISTINCT actor_id) FROM actor;,[{'count': 200}]
12,Get the total payment received in June 2022.,Medium,"{'valid': '1', 'question': 'What is the sum of...",{'question': 'What is the sum of the amount fr...,{'question': 'What is the sum of the amount fr...,SELECT sum(amount) FROM payment WHERE payment_...,[{'sum': 10923.45}]
13,Find the total number of rentals made last month.,Medium,"{'valid': '1', 'question': 'What is the count ...",{'question': 'What is the count of distinct re...,{'question': 'What is the count of distinct re...,SELECT count(DISTINCT rental_id) FROM rental W...,[{'count': 0}]
14,"How many films have a rating of ""PG-13""?",Medium,"{'valid': '1', 'question': ""How many films are...","{'question': ""How many films are there where t...","{'question': ""How many films are there where t...",SELECT COUNT(*) FROM film WHERE rating = 'PG-13';,[{'count': 223}]
15,List all films along with their category names.,Medium,"{'valid': '1', 'question': 'Show the film titl...",{'question': 'Show the film title from the fil...,{'question': 'Show the film title from the fil...,"SELECT f.title, c.name AS category_name\nFROM ...","[{'title': 'BAREFOOT MANCHURIAN', 'category_na..."
16,"Show all actors who appeared in the film ""Ince...",Medium,"{'valid': '1', 'question': ""Retrieve the first...","{'question': ""Retrieve the first name and last...","{'question': ""Retrieve the first name and last...","SELECT\n a.first_name,\n a.last_name\nFROM a...",[]
17,Get a list of all customers and the films they...,Medium,"{'valid': '0', 'question': '', 'clarification'...","{'question': 'Provide a query.', 'query': None...","{'question': 'Provide a query.', 'query': None...",None,'NoneType' object has no attribute 'to_dict'
18,List all staff members along with the stores t...,Medium,"{'valid': '1', 'question': ""List the first nam...","{'question': ""List the first name and last nam...","{'question': ""List the first name and last nam...","SELECT first_name, last_name, store_id FROM st...","[{'first_name': 'Tisha', 'last_name': 'DuBuque..."
19,"Find all films rented by customer ""John Doe.""",Medium,"{'valid': '1', 'question': ""What are the title...","{'question': ""What are the titles of all films...","{'question': ""What are the titles of all films...",SELECT\n f.title\nFROM film AS f\nJOIN invent...,[]
20,Show the top 5 films rented the most across al...,Medium,"{'valid': '1', 'question': 'What are the title...",{'question': 'What are the titles of the 5 fil...,{'question': 'What are the titles of the 5 fil...,"SELECT f.title, COUNT(r.rental_id) AS rental_c...","[{'title': 'BUCKET BROTHERHOOD', 'rental_count..."
21,List all customers who have rented films in bo...,Medium,"{'valid': '1', 'question': ""Find the customer ...","{'question': ""Find the customer IDs of all cus...","{'question': ""Find the customer IDs of all cus...","SELECT DISTINCT c.first_name, c.last_name\nFRO...","[{'first_name': 'AARON', 'last_name': 'SELBY'}..."
22,Find all actors who have appeared in more than...,Medium,"{'valid': '1', 'question': 'Find the first nam...",{'question': 'Find the first name and last nam...,{'question': 'Find the first name and last nam...,"SELECT a.first_name, a.last_name\nFROM actor a...","[{'first_name': 'PENELOPE', 'last_name': 'GUIN..."
23,Get a list of customers who have made more tha...,Medium,"{'valid': '1', 'question': 'List the first nam...","{'question': 'List the first name, last name, ...","{'question': 'List the first name, last name, ...","SELECT c.first_name, c.last_name, c.customer_i...","[{'first_name': 'MARY', 'last_name': 'SMITH', ..."
24,"List all films that are in both the ""Action"" a...",Medium,"{'valid': '1', 'question': ""Retrieve the film ...","{'question': ""Retrieve the film titles from th...","{'question': ""Retrieve the film titles from th...",SELECT f.title\nFROM film f\nJOIN film_categor...,"[{'title': 'CATCH AMISTAD'}, {'title': 'DAUGHT..."
25,Show all rentals made in the last 7 days.,Medium,"{'valid': '1', 'question': 'Show all rows from...",{'question': 'Show all rows from the rental ta...,{'question': 'Show all rows from the rental ta...,SELECT * FROM rental AS r WHERE r.rental_date ...,[]
26,Get all payments made in February 2022.,Medium,"{'valid': '1', 'question': 'Show all columns f...",{'question': 'Show all columns for each row in...,{'question': 'Show all columns for each row in...,SELECT * FROM payment WHERE payment_date >= '2...,"[{'payment_id': 16056, 'customer_id': 270, 'st..."
27,List all films that have not been rented in th...,Medium,"{'valid': '1', 'question': 'Find the title of ...",{'question': 'Find the title of all films from...,{'question': 'Find the title of all films from...,SELECT DISTINCT f.title\nFROM film AS f\nWHERE...,[]
28,Find all customers who registered in the last ...,Medium,"{'valid': '1', 'question': 'Find the first nam...","{'question': 'Find the first name, last name, ...","{'question': 'Find the first name, last name, ...","SELECT first_name, last_name, email, address_i...",[]
29,"Show all staff members hired before January 1,...",Medium,"{'valid': '1', 'question': ""Show the first nam...","{'question': ""Show the first name, last name, ...","{'question': ""Show the first name, last name, ...","SELECT s.first_name, s.last_name, s.email, s.u...",[]
30,List the top 3 customers who have spent the mo...,Hard,"{'valid': '0', 'question': '', 'clarification'...","{'question': 'Provide a query.', 'query': None...","{'question': 'Provide a query.', 'query': None...",None,'NoneType' object has no attribute 'to_dict'
31,Find the films that have been rented more time...,Hard,"{'valid': '1', 'question': 'Find the film titl...",{'question': 'Find the film titles from the fi...,{'question': 'Find the film titles from the fi...,SELECT f.title\nFROM film f\nJOIN inventory i ...,"[{'title': 'EFFECT GLADIATOR'}, {'title': 'BAL..."
32,"For each actor, show their name and the percen...",Hard,"{'valid': '1', 'question': ""For each actor in ...","{'question': ""For each actor in the actor tabl...","{'question': ""For each actor in the actor tabl...",SELECT\n a.first_name || ' ' || a.last_name A...,"[{'actor_name': 'ADAM GRANT', 'film_percentage..."
33,Show the average payment amount for each custo...,Hard,"{'valid': '1', 'question': 'What is the averag...",{'question': 'What is the average payment amou...,{'question': 'What is the average payment amou...,"SELECT customer_id, AVG(amount) AS average_pay...","[{'customer_id': 184, 'average_payment_amount'..."
34,List all actors who have appeared in at least ...,Hard,"{'valid': '0', 'question': '', 'clarification'...","{'question': 'Provide a query.', 'query': None...","{'question': 'Provide a query.', 'query': None...",None,'NoneType' object has no attribute 'to_dict'
35,Find customers who have rented more films this...,Hard,"{'valid': '0', 'question': '', 'clarification'...","{'question': 'Provide a query.', 'query': None...","{'question': 'Provide a query.', 'query': None...",None,'NoneType' object has no attribute 'to_dict'
36,List the top 5 films with the highest revenue.,Hard,"{'valid': '1', 'question': 'List the top 5 fil...",{'question': 'List the top 5 films with the hi...,{'question': 'List the top 5 films with the hi...,"SELECT f.title, SUM(p.amount) AS total_revenue...","[{'title': 'TELEGRAPH VOYAGE', 'total_revenue'..."
37,"For each customer, show the number of films re...",Hard,"{'valid': '0', 'question': '', 'clarification'...","{'question': 'Provide a query.', 'query': None...","{'question': 'Provide a query.', 'query': None...",None,'NoneType' object has no attribute 'to_dict'
38,Show the names of customers who have rented ev...,Hard,"{'valid': '0', 'question': '', 'clarification'...","{'question': 'Provide a query.', 'query': None...","{'question': 'Provide a query.', 'query': None...",None,'NoneType' object has no attribute 'to_dict'
39,List customers who have rented the same film m...,Hard,"{'valid': '1', 'question': ""Find the first nam...","{'question': ""Find the first name and last nam...","{'question': ""Find the first name and last nam...","SELECT c.first_name, c.last_name\nFROM custome...",[]

In [39]:
eval_df.to_csv(r'..\evaluation_report.csv', index=False)