In [2]:
# !pip install psycopg2 pandas

In [ ]:
import psycopg2
from psycopg2.extras import DictCursor
import pandas as pd

In [ ]:

connection_parameters = {
    "host": "localhost",
    "port": 5432,
    "database": "postgres",
    "user": "postgres",
    "password": "123456"  
}

def connect_to_db(params):
    """connect to database"""
    try:
        conn = psycopg2.connect(**params)
        print("Connection successful!")
        return conn
    except Exception as e:
        print("Error connecting to the database:", e)
        return None
    
connection = connect_to_db(connection_parameters)

Connection successful!

In [10]:
connection

In [ ]:
def fetch_query_as_df(conn, query):
    """execute SQL query and return dataframe"""
    try:
        df = pd.read_sql(query, conn)
        return df
    except Exception as e:
        print("Error executing query:", e)
        return None

query = "SELECT * FROM film;"
fetch_query_as_df(connection, query)

C:\Users\Anush\AppData\Local\Temp\ipykernel_18768\2878955131.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,last_update,special_features,fulltext
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2012,1,None,6,0.99,86,20.99,PG,2022-09-10 16:46:03.905795+00:00,"[Deleted Scenes, Behind the Scenes]",'academi':1 'battl':15 'canadian':20 'dinosaur...
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2023,1,None,3,4.99,48,12.99,G,2022-09-10 16:46:03.905795+00:00,"[Trailers, Deleted Scenes]",'ace':1 'administr':9 'ancient':19 'astound':4...
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2017,2,None,7,2.99,50,18.99,NC-17,2022-09-10 16:46:03.905795+00:00,"[Trailers, Deleted Scenes]",'adapt':1 'astound':4 'baloon':19 'car':11 'fa...
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2023,6,None,5,2.99,117,26.99,G,2022-09-10 16:46:03.905795+00:00,"[Commentaries, Behind the Scenes]",'affair':1 'chase':14 'documentari':5 'fanci':...
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2019,4,None,6,2.99,130,22.99,G,2022-09-10 16:46:03.905795+00:00,[Deleted Scenes],'african':1 'chef':11 'dentist':14 'documentar...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,YOUNG LANGUAGE,A Unbelieveable Yarn of a Boat And a Database ...,2019,1,None,6,0.99,183,9.99,G,2022-09-10 16:46:03.905795+00:00,"[Trailers, Behind the Scenes]",'administr':12 'boat':8 'boy':17 'databas':11 ...
996,997,YOUTH KICK,A Touching Drama of a Teacher And a Cat who mu...,2012,3,None,4,0.99,179,14.99,NC-17,2022-09-10 16:46:03.905795+00:00,"[Trailers, Behind the Scenes]",'boat':22 'cat':11 'challeng':14 'drama':5 'ki...
997,998,ZHIVAGO CORE,A Fateful Yarn of a Composer And a Man who mus...,2012,6,None,6,0.99,105,10.99,NC-17,2022-09-10 16:46:03.905795+00:00,[Deleted Scenes],'boy':16 'canadian':19 'compos':8 'core':2 'fa...
998,999,ZOOLANDER FICTION,A Fateful Reflection of a Waitress And a Boat ...,2010,5,None,5,2.99,101,28.99,R,2022-09-10 16:46:03.905795+00:00,"[Trailers, Deleted Scenes]",'ancient':19 'boat':11 'china':20 'discov':14 ...
999,1000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,2019,4,None,3,4.99,50,18.99,NC-17,2022-09-10 16:46:03.905795+00:00,"[Trailers, Commentaries, Behind the Scenes]","'ark':2 'boy':12,17 'intrepid':4 'mad':8 'mona..."

In [12]:
connection.close()

In [ ]:
def fetch_data(connection, query):
    try:
        cursor = connection.cursor(cursor_factory=DictCursor)
        cursor.execute(query)
        rows = cursor.fetchall()  
        return pd.DataFrame(rows)
    except psycopg2.Error as e:
        print("Database error:", e)
    finally:
        if cursor:
            cursor.close()