In [3]:
# !pip install google-genai

# JSON

In [4]:
import json

# Load the JSON file
json_file_path = "metadata/paglia_metadata.json"

with open(json_file_path, "r") as file:
    pagila_metadata = json.load(file)

# Display the structure of the JSON file (showing only a subset if it's large)
pagila_metadata

{'database_name': 'paglia',
 'description': 'A database for managing a DVD rental store.',
 'tables': [{'table_name': 'actor',
   'description': 'Stores information about actors.',
   'columns': [{'column_name': 'actor_id',
     'data_type': 'integer',
     'is_primary_key': True,
     'description': 'Unique identifier for the actor.'},
    {'column_name': 'first_name',
     'data_type': 'text',
     'description': "Actor's first name."},
    {'column_name': 'last_name',
     'data_type': 'text',
     'description': "Actor's last name."},
    {'column_name': 'last_update',
     'data_type': 'timestamp with time zone',
     'description': 'Timestamp of the last update to the record.'}]},
  {'table_name': 'address',
   'description': 'Stores address information.',
   'columns': [{'column_name': 'address_id',
     'data_type': 'integer',
     'is_primary_key': True,
     'description': 'Unique identifier for the address.'},
    {'column_name': 'address',
     'data_type': 'text',
     'description': 'Street address.'},
    {'column_name': 'address2',
     'data_type': 'text',
     'description': 'Additional street address information.'},
    {'column_name': 'district',
     'data_type': 'text',
     'description': 'District the address is located in.'},
    {'column_name': 'city_id',
     'data_type': 'integer',
     'description': 'Foreign key referencing the city table.'},
    {'column_name': 'postal_code',
     'data_type': 'text',
     'description': 'Postal code of the address.'},
    {'column_name': 'phone',
     'data_type': 'text',
     'description': 'Phone number associated with the address.'},
    {'column_name': 'last_update',
     'data_type': 'timestamp with time zone',
     'description': 'Timestamp of the last update to the record.'}]},
  {'table_name': 'category',
   'description': 'Stores information about film categories.',
   'columns': [{'column_name': 'category_id',
     'data_type': 'integer',
     'is_primary_key': True,
     'description': 'Unique identifier for the category.'},
    {'column_name': 'name',
     'data_type': 'text',
     'description': 'Name of the category.'},
    {'column_name': 'last_update',
     'data_type': 'timestamp with time zone',
     'description': 'Timestamp of the last update to the record.'}]},
  {'table_name': 'city',
   'description': 'Stores information about cities.',
   'columns': [{'column_name': 'city_id',
     'data_type': 'integer',
     'is_primary_key': True,
     'description': 'Unique identifier for the city.'},
    {'column_name': 'city',
     'data_type': 'text',
     'description': 'Name of the city.'},
    {'column_name': 'country_id',
     'data_type': 'integer',
     'description': 'Foreign key referencing the country table.'},
    {'column_name': 'last_update',
     'data_type': 'timestamp with time zone',
     'description': 'Timestamp of the last update to the record.'}]},
  {'table_name': 'country',
   'description': 'Stores information about countries.',
   'columns': [{'column_name': 'country_id',
     'data_type': 'integer',
     'is_primary_key': True,
     'description': 'Unique identifier for the country.'},
    {'column_name': 'country',
     'data_type': 'text',
     'description': 'Name of the country.'},
    {'column_name': 'last_update',
     'data_type': 'timestamp with time zone',
     'description': 'Timestamp of the last update to the record.'}]},
  {'table_name': 'customer',
   'description': 'Stores information about customers.',
   'columns': [{'column_name': 'customer_id',
     'data_type': 'integer',
     'is_primary_key': True,
     'description': 'Unique identifier for the customer.'},
    {'column_name': 'store_id',
     'data_type': 'integer',
     'description': 'Foreign key referencing the store table.'},
    {'column_name': 'first_name',
     'data_type': 'text',
     'description': "Customer's first name."},
    {'column_name': 'last_name',
     'data_type': 'text',
     'description': "Customer's last name."},
    {'column_name': 'email',
     'data_type': 'text',
     'description': "Customer's email address."},
    {'column_name': 'address_id',
     'data_type': 'integer',
     'description': 'Foreign key referencing the address table.'},
    {'column_name': 'activebool',
     'data_type': 'boolean',
     'description': 'Indicates whether the customer is active.'},
    {'column_name': 'create_date',
     'data_type': 'date',
     'description': 'Date when the customer record was created.'},
    {'column_name': 'last_update',
     'data_type': 'timestamp with time zone',
     'description': 'Timestamp of the last update to the record.'},
    {'column_name': 'active',
     'data_type': 'integer',
     'description': 'Another column indicating customer activity status (might be redundant).'}]},
  {'table_name': 'film',
   'description': 'Stores information about films.',
   'columns': [{'column_name': 'film_id',
     'data_type': 'integer',
     'is_primary_key': True,
     'description': 'Unique identifier for the film.'},
    {'column_name': 'title',
     'data_type': 'text',
     'description': 'Title of the film.'},
    {'column_name': 'description',
     'data_type': 'text',
     'description': "Description of the film's plot."},
    {'column_name': 'release_year',
     'data_type': 'year',
     'description': 'Year when the film was released.'},
    {'column_name': 'language_id',
     'data_type': 'integer',
     'description': 'Foreign key referencing the language table.'},
    {'column_name': 'original_language_id',
     'data_type': 'integer',
     'description': 'Foreign key referencing the language table for the original language (if different).'},
    {'column_name': 'rental_duration',
     'data_type': 'smallint',
     'description': 'Duration for which the film can be rented.'},
    {'column_name': 'rental_rate',
     'data_type': 'numeric(4,2)',
     'description': 'Rate at which the film can be rented.'},
    {'column_name': 'length',
     'data_type': 'smallint',
     'description': 'Length of the film in minutes.'},
    {'column_name': 'replacement_cost',
     'data_type': 'numeric(5,2)',
     'description': 'Cost to replace the film if lost or damaged.'},
    {'column_name': 'rating',
     'data_type': 'mpaa_rating',
     'description': 'MPAA rating of the film.'},
    {'column_name': 'last_update',
     'data_type': 'timestamp with time zone',
     'description': 'Timestamp of the last update to the record.'},
    {'column_name': 'special_features',
     'data_type': 'text[]',
     'description': 'Array of special features included with the film.'},
    {'column_name': 'fulltext',
     'data_type': 'tsvector',
     'description': 'Full-text search vector for the film.'}]},
  {'table_name': 'film_actor',
   'description': 'Links actors to films they starred in.',
   'columns': [{'column_name': 'actor_id',
     'data_type': 'integer',
     'is_primary_key': True,
     'is_foreign_key': True,
     'description': 'Foreign key referencing the actor table.'},
    {'column_name': 'film_id',
     'data_type': 'integer',
     'is_primary_key': True,
     'is_foreign_key': True,
     'description': 'Foreign key referencing the film table.'},
    {'column_name': 'last_update',
     'data_type': 'timestamp with time zone',
     'description': 'Timestamp of the last update to the record.'}]},
  {'table_name': 'film_category',
   'description': 'Links films to their categories.',
   'columns': [{'column_name': 'film_id',
     'data_type': 'integer',
     'is_primary_key': True,
     'is_foreign_key': True,
     'description': 'Foreign key referencing the film table.'},
    {'column_name': 'category_id',
     'data_type': 'integer',
     'is_primary_key': True,
     'is_foreign_key': True,
     'description': 'Foreign key referencing the category table.'},
    {'column_name': 'last_update',
     'data_type': 'timestamp with time zone',
     'description': 'Timestamp of the last update to the record.'}]},
  {'table_name': 'inventory',
   'description': "Stores information about the store's inventory of films.",
   'columns': [{'column_name': 'inventory_id',
     'data_type': 'integer',
     'is_primary_key': True,
     'description': 'Unique identifier for the inventory item.'},
    {'column_name': 'film_id',
     'data_type': 'integer',
     'is_foreign_key': True,
     'description': 'Foreign key referencing the film table.'},
    {'column_name': 'store_id',
     'data_type': 'integer',
     'is_foreign_key': True,
     'description': 'Foreign key referencing the store table.'},
    {'column_name': 'last_update',
     'data_type': 'timestamp with time zone',
     'description': 'Timestamp of the last update to the record.'}]},
  {'table_name': 'language',
   'description': 'Stores information about languages.',
   'columns': [{'column_name': 'language_id',
     'data_type': 'integer',
     'is_primary_key': True,
     'description': 'Unique identifier for the language.'},
    {'column_name': 'name',
     'data_type': 'character(20)',
     'description': 'Name of the language.'},
    {'column_name': 'last_update',
     'data_type': 'timestamp with time zone',
     'description': 'Timestamp of the last update to the record.'}]},
  {'table_name': 'payment',
   'description': 'Stores information about customer payments.',
   'columns': [{'column_name': 'payment_id',
     'data_type': 'integer',
     'is_primary_key': True,
     'description': 'Unique identifier for the payment.'},
    {'column_name': 'customer_id',
     'data_type': 'integer',
     'is_foreign_key': True,
     'description': 'Foreign key referencing the customer table.'},
    {'column_name': 'staff_id',
     'data_type': 'integer',
     'is_foreign_key': True,
     'description': 'Foreign key referencing the staff table.'},
    {'column_name': 'rental_id',
     'data_type': 'integer',
     'is_foreign_key': True,
     'description': 'Foreign key referencing the rental table.'},
    {'column_name': 'amount',
     'data_type': 'numeric(5,2)',
     'description': 'Amount of the payment.'},
    {'column_name': 'payment_date',
     'data_type': 'timestamp with time zone',
     'is_primary_key': True,
     'description': 'Date and time of the payment.'}]},
  {'table_name': 'rental',
   'description': 'Stores information about film rentals.',
   'columns': [{'column_name': 'rental_id',
     'data_type': 'integer',
     'is_primary_key': True,
     'description': 'Unique identifier for the rental transaction.'},
    {'column_name': 'rental_date',
     'data_type': 'timestamp with time zone',
     'description': 'Date and time when the film was rented.'},
    {'column_name': 'inventory_id',
     'data_type': 'integer',
     'is_foreign_key': True,
     'description': 'Foreign key referencing the inventory table.'},
    {'column_name': 'customer_id',
     'data_type': 'integer',
     'is_foreign_key': True,
     'description': 'Foreign key referencing the customer table.'},
    {'column_name': 'return_date',
     'data_type': 'timestamp with time zone',
     'description': 'Date and time when the film was returned (can be null).'},
    {'column_name': 'staff_id',
     'data_type': 'integer',
     'is_foreign_key': True,
     'description': 'Foreign key referencing the staff table member who processed the rental.'},
    {'column_name': 'last_update',
     'data_type': 'timestamp with time zone',
     'description': 'Timestamp of the last update to the record.'}]},
  {'table_name': 'staff',
   'description': 'Stores information about staff members.',
   'columns': [{'column_name': 'staff_id',
     'data_type': 'integer',
     'is_primary_key': True,
     'description': 'Unique identifier for the staff member.'},
    {'column_name': 'first_name',
     'data_type': 'text',
     'description': "Staff member's first name."},
    {'column_name': 'last_name',
     'data_type': 'text',
     'description': "Staff member's last name."},
    {'column_name': 'address_id',
     'data_type': 'integer',
     'is_foreign_key': True,
     'description': 'Foreign key referencing the address table.'},
    {'column_name': 'email',
     'data_type': 'text',
     'description': "Staff member's email address."},
    {'column_name': 'store_id',
     'data_type': 'integer',
     'is_foreign_key': True,
     'description': 'Foreign key referencing the store table.'},
    {'column_name': 'active',
     'data_type': 'boolean',
     'description': 'Indicates whether the staff member is currently active.'},
    {'column_name': 'username',
     'data_type': 'text',
     'description': "Staff member's username for system access."},
    {'column_name': 'password',
     'data_type': 'text',
     'description': "Staff member's password for system access."},
    {'column_name': 'last_update',
     'data_type': 'timestamp with time zone',
     'description': 'Timestamp of the last update to the record.'},
    {'column_name': 'picture',
     'data_type': 'bytea',
     'description': "Staff member's picture (binary data)."}]},
  {'table_name': 'store',
   'description': 'Stores information about the physical stores.',
   'columns': [{'column_name': 'store_id',
     'data_type': 'integer',
     'is_primary_key': True,
     'description': 'Unique identifier for the store.'},
    {'column_name': 'manager_staff_id',
     'data_type': 'integer',
     'is_foreign_key': True,
     'description': "Foreign key referencing the staff table for the store's manager."},
    {'column_name': 'address_id',
     'data_type': 'integer',
     'is_foreign_key': True,
     'description': 'Foreign key referencing the address table.'},
    {'column_name': 'last_update',
     'data_type': 'timestamp with time zone',
     'description': 'Timestamp of the last update to the record.'}]}],
 'views': [{'view_name': 'actor_info',
   'description': 'Provides information about actors and the films they starred in, categorized by film category.',
   'columns': [{'column_name': 'actor_id',
     'data_type': 'integer',
     'is_primary_key': True,
     'description': 'Unique identifier for the actor.'},
    {'column_name': 'first_name',
     'data_type': 'text',
     'description': "Actor's first name."},
    {'column_name': 'last_name',
     'data_type': 'text',
     'description': "Actor's last name."},
    {'column_name': 'film_info',
     'data_type': 'text',
     'description': 'Concatenated string of film categories and film titles the actor has been in.'}]},
  {'view_name': 'customer_list',
   'description': 'Provides a list of customers with their contact information and store association.',
   'columns': [{'column_name': 'id',
     'data_type': 'integer',
     'description': 'Customer ID.'},
    {'column_name': 'name',
     'data_type': 'text',
     'description': "Customer's full name."},
    {'column_name': 'address',
     'data_type': 'text',
     'description': "Customer's street address."},
    {'column_name': 'zip code',
     'data_type': 'text',
     'description': "Customer's postal code."},
    {'column_name': 'phone',
     'data_type': 'text',
     'description': "Customer's phone number."},
    {'column_name': 'city',
     'data_type': 'text',
     'description': "Customer's city."},
    {'column_name': 'country',
     'data_type': 'text',
     'description': "Customer's country."},
    {'column_name': 'notes',
     'data_type': 'text',
     'description': 'Notes about the customer (e.g., active status).'},
    {'column_name': 'sid',
     'data_type': 'integer',
     'description': 'Store ID associated with the customer.'}]},
  {'view_name': 'film_list',
   'description': 'Provides a list of films with their descriptions, category, price, length, rating, and actors.',
   'columns': [{'column_name': 'fid',
     'data_type': 'integer',
     'description': 'Film ID.'},
    {'column_name': 'title',
     'data_type': 'text',
     'description': 'Film title.'},
    {'column_name': 'description',
     'data_type': 'text',
     'description': 'Film description.'},
    {'column_name': 'category',
     'data_type': 'text',
     'description': 'Film category.'},
    {'column_name': 'price',
     'data_type': 'numeric(4,2)',
     'description': 'Rental price of the film.'},
    {'column_name': 'length',
     'data_type': 'smallint',
     'description': 'Length of the film in minutes.'},
    {'column_name': 'rating',
     'data_type': 'mpaa_rating',
     'description': 'MPAA rating of the film.'},
    {'column_name': 'actors',
     'data_type': 'text',
     'description': "Concatenated string of actors' first and last names."}]},
  {'view_name': 'nicer_but_slower_film_list',
   'description': 'Similar to film_list, but formats actor names with uppercase first letters and lowercase remaining letters.',
   'columns': [{'column_name': 'fid',
     'data_type': 'integer',
     'description': 'Film ID.'},
    {'column_name': 'title',
     'data_type': 'text',
     'description': 'Film title.'},
    {'column_name': 'description',
     'data_type': 'text',
     'description': 'Film description.'},
    {'column_name': 'category',
     'data_type': 'text',
     'description': 'Film category.'},
    {'column_name': 'price',
     'data_type': 'numeric(4,2)',
     'description': 'Rental price of the film.'},
    {'column_name': 'length',
     'data_type': 'smallint',
     'description': 'Length of the film in minutes.'},
    {'column_name': 'rating',
     'data_type': 'mpaa_rating',
     'description': 'MPAA rating of the film.'},
    {'column_name': 'actors',
     'data_type': 'text',
     'description': "Concatenated string of actors' formatted names."}]},
  {'view_name': 'sales_by_film_category',
   'description': 'Shows total sales for each film category.',
   'columns': [{'column_name': 'category',
     'data_type': 'text',
     'description': 'Film category.'},
    {'column_name': 'total_sales',
     'data_type': 'numeric',
     'description': 'Total sales for the category.'}]},
  {'view_name': 'sales_by_store',
   'description': 'Shows total sales for each store, including store location and manager name.',
   'columns': [{'column_name': 'store',
     'data_type': 'text',
     'description': 'Store location (city, country).'},
    {'column_name': 'manager',
     'data_type': 'text',
     'description': "Manager's full name."},
    {'column_name': 'total_sales',
     'data_type': 'numeric',
     'description': 'Total sales for the store.'}]},
  {'view_name': 'staff_list',
   'description': 'Provides a list of staff members with their contact information and store association.',
   'columns': [{'column_name': 'id',
     'data_type': 'integer',
     'description': 'Staff ID.'},
    {'column_name': 'name',
     'data_type': 'text',
     'description': "Staff member's full name."},
    {'column_name': 'address',
     'data_type': 'text',
     'description': "Staff member's street address."},
    {'column_name': 'zip code',
     'data_type': 'text',
     'description': "Staff member's postal code."},
    {'column_name': 'phone',
     'data_type': 'text',
     'description': "Staff member's phone number."},
    {'column_name': 'city',
     'data_type': 'text',
     'description': "Staff member's city."},
    {'column_name': 'country',
     'data_type': 'text',
     'description': "Staff member's country."},
    {'column_name': 'sid',
     'data_type': 'integer',
     'description': 'Store ID associated with the staff member.'}]}],
 'materialized_views': [{'view_name': 'rental_by_category',
   'description': 'Materialized view showing total rentals for each film category.',
   'columns': [{'column_name': 'category',
     'data_type': 'text',
     'description': 'Film category.'},
    {'column_name': 'total_sales',
     'data_type': 'numeric',
     'description': 'Total sales for the category.'}]}],
 'functions': [{'function_name': 'film_in_stock',
   'description': 'Returns a set of inventory IDs for films that are in stock at a given store.',
   'parameters': [{'parameter_name': 'p_film_id',
     'data_type': 'integer',

In [9]:
names = list(map(str, list(pagila_metadata.keys())))
names

['database_name',
 'description',
 'tables',
 'views',
 'materialized_views',
 'functions',
 'relationships']

In [23]:
metadata = json.dumps(pagila_metadata)
len(metadata)

23036

# Gemini

In [93]:
import os
from google import genai
from google.genai import types
from dotenv import load_dotenv
load_dotenv()

True

In [137]:
def get_client():
    return genai.Client(api_key=os.getenv('API_KEY'))
def get_response(contents, client, model = 'gemini-2.0-flash-001'):
    return client.models.generate_content(model=model, contents=contents, config={'temperature' : 0.1}).text
def get_prompt(question):
    
    prompt_template = """
    You are a PostgreSQL expert.

    Please help to generate a PostgreSQL query to answer the question. Your response should ONLY be based on the given context and follow the response guidelines and format instructions.

    ===Tables metadata in JSON like format
    {metadata}


    ===Response Guidelines
    1. If the provided context is sufficient, please generate a valid query without any explanations for the question. The query should start with a comment containing the question being asked.
    2. If the provided context is insufficient, please explain why it can't be generated.
    3. Please use the most relevant table(s).
    5. Please format the query before responding.
    6. Please always respond with a valid well-formed JSON object with the following format

    ===Response Format if Question made sense and could be converted to a valid query.
    {{  
        "query": "SELECT first_name, last_name FROM actor;",
        "explanation": "An explanation of query."
    }}
    ===Response Format if Question was unclear/invalid and valid/correct query generation is difficult.
    {{  
        "query": null,
        "explanation": "An explanation of failing to generate the query."
    }}

    ===Question
    {question}
    """
    
    values = {
        "metadata": metadata,
        "question": question
    }

    return prompt_template.format(**values)

In [138]:
client = get_client()

In [151]:
question = 'List all customers who are from the city of New York.'
response = get_response(get_prompt(question), client)
response

'```json\n{\n  "query": "SELECT c.first_name, c.last_name\\nFROM customer AS c\\nJOIN address AS a ON c.address_id = a.address_id\\nJOIN city AS ci ON a.city_id = ci.city_id\\nWHERE ci.city = \'New York\';",\n  "explanation": "The query joins the customer, address, and city tables to find customers located in New York. It selects the first and last names of customers from the customer table, joins it with the address table on address_id, and then joins the address table with the city table on city_id. Finally, it filters the results to include only customers where the city is \'New York\'."\n}\n```'

In [152]:
print(response)

```json
{
  "query": "SELECT c.first_name, c.last_name\nFROM customer AS c\nJOIN address AS a ON c.address_id = a.address_id\nJOIN city AS ci ON a.city_id = ci.city_id\nWHERE ci.city = 'New York';",
  "explanation": "The query joins the customer, address, and city tables to find customers located in New York. It selects the first and last names of customers from the customer table, joins it with the address table on address_id, and then joins the address table with the city table on city_id. Finally, it filters the results to include only customers where the city is 'New York'."
}
```

In [153]:
response_dict = json.loads(response[response.index('{'):response.index('}') + 1])
response_dict

{'query': "SELECT c.first_name, c.last_name\nFROM customer AS c\nJOIN address AS a ON c.address_id = a.address_id\nJOIN city AS ci ON a.city_id = ci.city_id\nWHERE ci.city = 'New York';",
 'explanation': "The query joins the customer, address, and city tables to find customers located in New York. It selects the first and last names of customers from the customer table, joins it with the address table on address_id, and then joins the address table with the city table on city_id. Finally, it filters the results to include only customers where the city is 'New York'."}

In [154]:
response_dict['query']

"SELECT c.first_name, c.last_name\nFROM customer AS c\nJOIN address AS a ON c.address_id = a.address_id\nJOIN city AS ci ON a.city_id = ci.city_id\nWHERE ci.city = 'New York';"